@model DataLayer.Entityes.Client
    <h1 class="text-center mt-3">Регистрация организации</h1>
<form method="post" class="mt-5">
    <div class="row justify-content-center">
        <div class="col-8 mb-4">
            <label asp-for="@Model.INN" class="form-label">Введите ваш ИНН</label>
            <input class="form-control" asp-for="@Model.INN" type="number" placeholder="Enter your INN" required>
        </div>
        <div class="col-8 mb-4">
            <label asp-for="@Model.Name" class="form-label">Введите название вашей организации</label>
            <input class="form-control" asp-for="@Model.Name" type="text" placeholder="Enter name of your organization or SP" required>
        </div>
        <div class="col-8 mb-5">
            <p>Выберите тип вашей организации</p>
            <select v-model="selected" asp-for="@Model.Type" class="form-select busy-type">
                <option value="SP">Индивидуальный предприниматель</option>
                <option value="Entity">ООО</option>
            </select>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 mb-4 justify-content-center d-flex founders">
                <div class="col-8 mb-3 justify-content-center align-items-center d-flex founderItem" v-for="item in founders" :key="item.id">
                    <div class="text-center">
                        <label>Инн учредителя</label>
                        <input class="border-0 bg-transparent m-3 w-50"  :name="`Founders[${founders.indexOf(item)}].INN`" :value="item.INN" type="number">
                    </div>
                    <div class="text-center">
                        <label>Имя учредителя</label>
                        <input class="border-0 bg-transparent m-3 w-50" pattern="[A-Za-z]" :name="`Founders[${founders.indexOf(item)}].Name`" :value="item.Name" type="text">
                    </div>
                    <div class="text-center">
                        <label>Фамилия учредителя</label>
                        <input class="border-0 bg-transparent m-3 w-50" :name="`Founders[${founders.indexOf(item)}].Surname`" :value="item.Surname" type="text">
                    </div>
                    <div class="text-center">
                        <label>Отчество учредителя</label>
                        <input class="border-0 bg-transparent m-3 w-50" :name="`Founders[${founders.indexOf(item)}].Patronymic`" :value="item.Patronymic" type="text">
                    </div>
                    <button v-on:click="deleteFounder" class="btn btn-danger">Удалить</button>

                </div>
            </div>
            <div class="col-8 ">
                <h4>Добавить учредителя</h4>
                <input class="form-control mb-2" v-bind:class="{'border-danger':!validated}" v-model="founder.INN" type="number" placeholder="Введите ваш ИНН">
                <input class="form-control mb-2" v-bind:class="{'border-danger':!validated}" v-model="founder.Name" type="text" placeholder="Введите имя">
                <input class="form-control mb-2" v-bind:class="{'border-danger':!validated}" v-model="founder.Surname" type="text" placeholder="Введите фамилию">
                <input class="form-control mb-2" v-bind:class="{'border-danger':!validated}" v-model="founder.Patronymic" type="text" placeholder="Введите отчество">
                <button class="btn btn-primary"  v-on:click.prevent="AddFounderToList(founder)">Добавить</button>
            </div>
        </div>
        <div class="col-5">
            <input class="form-control btn-success p-3" asp-controller="Client" asp-action="CreateClient" type="submit" value="Add">
        </div>
    </div>
</form>
